<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/Front/img/verre.png"/>
  <title>For'Rhum arrangé</title>
  <style>
    body {
      background-color: #79a30d;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    header {
      background-color: #870187;
      padding: 20px;
      text-align: center;
      position: relative;
    }

    header img {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      cursor: pointer;
    }

    .menu {
      width: 250px;
      background-color: white;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -250px;
      transition: left 0.3s;
    }

    .menu.open {
      left: 0;
    }

    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu ul li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .menu-button {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      cursor: pointer;
    }
    
    .menu-button img {
      width: 40px; /* Augmenter la taille du logo */
      cursor: pointer;
    }
  </style>
</head>
<body>
  <header>
    <img src="/Front/img/verre.png" alt="Verre" onclick="toggleMenu()" />
    <h1>Titre de la page</h1>
  </header>

  <div class="menu">
    <div class="menu-button" onclick="toggleMenu()">
      <img src="/Front/img/logo.png" alt="Logo" /> <!-- Ajuster la taille du logo -->
    </div>
    <ul>
      <li>Menu 7</li>
      <li>Menu 2</li>
      <li>Menu 3</li>
    </ul>
  </div>

  <script>
    function toggleMenu() {
      const menu = document.querySelector('.menu');
      menu.classList.toggle('open');
    }
  </script>
</body>
</html>
