<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/header.css">
    <title>For'Rhum Arrangé</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="shortcut icon" href="../assets/images/rhum.png">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1 id="title-site">For'Rhum Arrangé</h1>
            <img id="info" src="../assets/images/info.png" alt="info">
            <img id="msg" src="../assets/images/msg.png" alt="msg" onclick="openMp()">
            <img id="profil-img" src="../assets/images/profil.png" alt="profil">
        </div>
    </div>
    <div class="categorie">
        <div class="title-categorie">
            <h2>Catégorie</h2>
        </div>
    </div>
    <script>
        function toggleMenu() {
          const menu = document.querySelector('.categorie');
          menu.classList.toggle('open');
        }
        
        function openMp() {
          window.location.href = "mp.page.tmpl";
        }
    </script> 
</body>
</html>