<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/like.css">
</head>
<body>
    <button id="like-button">
        <img src="../assets/images/LikeWhite.png" alt="Like" id="like-image">
    </button>
    
    <button id="dislike-button" class="dislike-button">
        <img src="../assets/images/DislikeWhite.png" alt="Dislike" id="dislike-image">
      </button>
      

    <script src="../Serveur/test.js"></script>
</body>
</html>
