<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="shortcut icon" href="../assets/images/rhum.png">
    <title>For'Rhum Arrangé</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <img id="logo" src="../assets/images/logo.png" alt="logo">
            <a href="general" id="title-site"><h1>For'Rhum Arrangé</h1></a>
            <img id="info" src="../assets/images/info.png" onclick="page('about')">
            <img id="msg" src="../assets/images/msg.png" alt="msg" onclick="page('mp')">
            <img id="profil-img" src="../assets/images/profil.png" alt="profil" onclick="page('login')">
        </div>
    </div>
    <div class="login">
        <div class="title-login"><img id="rhum" src="../assets/images/verre.png" alt="verre"><h1>For'Rhum</h1></div>
        <form action="/login" method="POST">
            <div class="input">
                <label for="pseudo"></label>
                <input type="pseudo" name="pseudo" id="pseudo" placeholder="Pseudo">
            </div>
            <div class="input">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
            </div>
            <div class="input">
                <input type="submit" value="S'identifier">
            </div>
            <div class="register">
                <a href="register"><p id="register">Créer un compte</p></a>
            </div>
        </form>
    </div>
    <script>
        function page(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>